@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "susy";

@import "libs/animateCSS/_config";

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 1em;

$show-grid-backgrounds  : true;
$grid-background-column-color: rgba(85, 128, 177, .15);

$base-color: #404956;
$link-color: #2893D6;
$light-gray: #e6e6e6;

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.amp{font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;font-size:125%;position:relative;font-style:italic}
.sep{display:inline-block;margin:0 .3em}
::selection{background:#404956;color:#fff;text-shadow:none}::-moz-selection{background:#404956;color:#fff;text-shadow:none}
img::selection{background:transparent;text-shadow:none}
img::-moz-selection{background:transparent;text-shadow:none}

body{
	padding-top: 70px;
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
	color: $base-color;
	-webkit-text-size-adjust: 100%;
}

.container{
	@include container;
}

.grid-color{
	@include susy-grid-background;
}

header, nav{
	@include animation(fadeInDown);
	@include duration(.5s);
	@include delay(1s);
}

header{
	font-family: "Open Sans";
	@include span-columns(3 alpha);

	.logo{
		float:left;
		margin-right: 20px;
	}

	h1{
		line-height: 45px;
		height: 45px;
		font-weight: 600;
		font-size: 16px;
	}
}

nav{
	@include span-columns(9 omega);

	ul{
		float: right;
		height: 45px;

		li{
			display: inline;
			line-height: 45px;
			padding-left: 45px;

			a{
				color: #707880;
				text-decoration: none;
				font-weight: 300;

				&:hover{
					color: $link-color;
					border-bottom: 2px solid $link-color;
				}

			}

			&:last-child a{
				background: $link-color;
				color: #FFF;
				font-size: 14px;
				font-weight: 400;
				padding: 6px 12px;
				@include border-radius(4px);
				
				&:hover{
					@include transition-property(background);
  					@include transition-duration(.5s);
					border-bottom: none;
					background: $base-color;
				}
			}
		}
	}
}

h2{
	font-size: 2.25em;
	font-weight: 300;
	line-height: 56px;
	padding: 50px 0;
	@include span-columns(10);
	@include pad(1,1);
	@include animation(fadeIn);
	@include duration(1s);
	@include delay(1.5s);
}

h3{
	font-weight: 300;
	text-align: center;
	font-size: 36px;
}

h4{
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	padding-top: 20px;
	text-transform: uppercase;
}

h5{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	padding: 20px 0 10px;
	text-transform: uppercase;
}

hr{
	display: block;
	margin: 10px auto 30px;
	width: 100px;
	border:none;
	height: 3px;
	background: $base-color;
}

/* =projects 
----------------------------------------------- */

#projects{
	padding-bottom: 30px;
	@include animation(fadeInUp);
	@include duration(.5s);
	@include delay(2s);

	ul{
		display: block;

		li{
			display: block;
			padding: 50px 0;
			border-bottom: 1px solid $light-gray;

			figure{
				@include span-columns(6);

				img{
					display: block;
					@include border-radius(4px);
					width: 100%;
					height: auto;
				}
			}

			aside{
				@include span-columns(6 omega);

				h4{
					text-align: left;
					text-transform: none;
					margin-bottom: 20px;
					padding: 0;
				}

				p{
					line-height: 1.5;
					margin-bottom: 20px;
				}

				.visit-work{
					display: inline-block;
					background: $link-color;
					color: #FFF;
					text-decoration: none;
					padding: 0px 15px;
					line-height: 35px;
					height: 35px;
					@include border-radius(4px);
					font-size: 14px;

					&:hover{
						background: $base-color;
						@include transition-property(background);
  						@include transition-duration(.5s);
  						border-bottom: none;
					}
				}
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
}

/* =about 
----------------------------------------------- */

#about{
	background: $base-color;
	color: #FFF;

	article{
		padding: 50px 0;
		@include span-columns(10);
		@include pad(1,1);

		.profileImg{
			display: block;
			margin: 0 auto;
			@include border-radius(250px);
			margin-bottom: 30px;
		}

		hr{
			background: #FFF;
		}

		p{
			font-size: 1.2em;
			line-height: 1.5;
			font-weight: 300;
			margin-bottom: 20px;
		}

		a{
			color: $link-color;
			text-decoration: none;

			&:hover{
				border-bottom: 2px solid $link-color;
			}
		}

		ul{
			list-style: inside;
			font-weight: 300;
			margin-bottom: 20px;

			li{
				line-height: 1.4;
				margin-bottom: 10px;

				.show-grid{
					padding: 0 5px;

					&:hover{
						background: $link-color;
						color: #FFF;
						@include border-radius(4px);
					}
				}

				#spotify{
					color: #7AB800!important;
				}

				.active{
					background: $link-color;
					color: #FFF;
					@include border-radius(4px);
				}
			}
		}

		#tab-links{
			list-style: none;
			text-align: center;
			padding: 20px 0 30px;

			li{
				display: inline;
				margin: 0;
				padding: 0;

				a{
					font-size: 22px;
					font-weight: 600;
					color: #FFF;
					text-transform: uppercase;
					padding: 0px 5px;
					background: #313842;
					width: 150px;
					line-height: 50px;
					height: 50px;
					display: inline-block;
					position: relative;

					&:hover{
						background: $link-color;
						border: none;
						@include transition-property(background);
  						@include transition-duration(.5s);
					}
				}

				&:nth-child(1) a{
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;
					right:-1px;
				}

				&:nth-child(2) a{
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
					left: -1px;
				}

				&.active-tab a{
					background: $link-color;
					color: #FFF;
				}
			}
		}

		strong{
			font-weight: 600;
		}
	}
}

/* =CV 
----------------------------------------------- */

#cv{
	padding: 50px 0;

	strong{
		display: block;
		padding: 20px 0 5px;
		text-transform: uppercase;
		border-bottom: 2px solid $light-gray;
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 14px;
	}

	p{
		font-size: 14px;
		margin-bottom: 10px;
		line-height: 1.3;

		span{
			display: inline-block;
			font-weight: 600;
			width: 15%;
		}
	}

	ul{
		list-style: disc;

		li{
			font-size: 14px;
			margin-bottom: 5px;
			line-height: 1.4;

			b{
				font-weight: 600;
			}
		}
	}

	i{
		font-size: 12px;
		color: #aaa;
		font-style: italic;
		font-weight: normal;
		text-transform: none;
	}
	
	.no-side{
		padding-left: 15%;
	}

	.with-side{
		float: right;
		width: 80%;
		padding-bottom: 10px;

		small{
			display: block;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 15px;
			margin-bottom: 10px;

			span{
				display: block;
				width: 100%;
				font-size: 14px;
				color: $link-color;
			}
		}
	}

	a{
		color: $link-color;
		text-decoration: none;

		&:hover{
			color: $base-color;
		}
	}

	time{
		width: 20%;
		float: left;
		font-size: 12px;
		line-height: 1.5;
		font-weight: 400;
	}

	#main{
		@include span-columns(7);
	}

	aside{
		@include span-columns(5 omega);
	}
}

/* =footer 
----------------------------------------------- */

footer{
	background: #1D2327;
	padding: 40px 0;
	color: #FFF;

	cite{
		@include span-columns(7 alpha);
		line-height: 28px;
		font-weight: 300;
		font-size: 14px;

		strong{
			font-weight: 600;
		}

		a{
			text-decoration: none;
			color: #495760;
			position: relative;
			font-size: 12px;
			font-weight: 600;

			img{
				display: block;
				width: 20px;
				position: absolute;
				top:0;
				right: -28px;		
				-webkit-transform: translateY(10px);
				opacity: 0;

				@include transition-property(all);
				@include transition-duration(.5s);
			}

			&:hover img{
				opacity: 1;
				-webkit-transform: translateY(0px);
			}
		}
	}

	.twitter{
		@include span-columns(2 omega);

		iframe{
			float: right;
		}
	}
}

@media (max-width: 40em) {
	body{
		padding: 20px 0;
	}

	.container{
		@include container;
	}

	header{
		@include span-columns(12);
	}

	nav{
		float: none;
		@include span-columns(12);
		position: relative;

		ul{
			display: block;
			float: none;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;

			li{
				padding-left: 0;
				display: block;
				width: 50%;
				float: left;
				text-align: center;

				a{
					display: block;
					background: #FFF;
					text-transform: uppercase;
					font-weight: normal;
					box-sizing: border-box;
					border-bottom: 1px solid $light-gray;
					border-right: 1px solid $light-gray;

					&:hover{
						color: $link-color;
						border-bottom: 1px solid $light-gray;
					}
				}

				&:last-child{
					width: 100%;
				}
				
				&:last-child a{
					border-radius: 0;
					font-size: 20px;

					&:hover{
						color: #FFF;
						background: $base-color;
					}
				}
				
				&:nth-child(even) a{
					border-right: none;
				}
			}
		}
	}

	h2{
		font-size: 1.35em;
		line-height: 1.5;
		@include span-columns(12);
		@include pad(0);
	}

	#projects{
		ul {

			li{

				figure{
					@include span-columns(12);
					margin-bottom: 20px;

					img{
						width: 100%;
						height: auto;
					}
				}
		
				aside{
					@include span-columns(12);
				}
			}
		}
	}

	#about {

		article{
			@include span-columns(12);
			@include pad(0);

			#tab-links{

				li{

					a{
						font-size: 18px;
						width: 130px;
					}
				}
			}
		}
	}

	#cv{

		p{

			span{
				width: auto;
			}
		}

		.no-side{
			padding: 10%;
		}

		#main{
			@include span-columns(12);
		}

		aside{
			@include span-columns(12);
		}
	}

	footer{

		cite{
			font-size: 12px;

			span{
				display: none;
				visibility: hidden;
			}

			#scrollTop{
				display: none;
				visibility: hidden;
			}
		}
	}
} // Last bracket