html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*----------------------------------------------------------------------------------------*\
 * AnimateSCSS
 *
 * Author	: Jason Hobbs
 * Website	: http://thecodezombie.co.uk
 * GitHub	: https://github.com/thecodezombie/animateSCSS/
 
 * Original Author  : Dan Eden
 * Website			: http://daneden.me/
 * GitHub			: https://github.com/daneden/animate.css
 *
 * This work is licensed under a the DBAD license: http://www.dbad-license.org/
\*----------------------------------------------------------------------------------------*/
/*---------------------------------------------------*\
 * Mixins:
 * animation - which animation you want to apply
 * duration  - how long it should last for
 * delay     - how long before the animation starts

\*---------------------------------------------------*/
/*============================================*\
	| Mixins to allow custom values of
	| durations & delays
\*============================================*/
/* Set the animation duration */
/* Choose the stock animation */
/* Apply a delay to the animation */
/*---------------------------------------------------*\
 * Animations:
 * Animations marked with a $ have a variable inside
 * which can be used to amend the preset values.
 *
 * Note: You don't need the 'Big' variants in Fading
 * as the variables allow you to choose the px value.
 * The default value just changes from 20 to 2000.
 
\*---------------------------------------------------*/
/* ! Attention Seekers */
/* ! Flippers */
/* ! Fading */
/* ! Fading Entrances */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* ! Fading Exits */
/* ! Bouncing */
/* ! Bouncing Entrances */
/* ! Bouncing Exits */
/* ! Rotating */
/* ! Rotating Entrances */
/* ! Rotating Exits */
/* ! Rolling */
/* ! Rolling Entrances */
/* ! Rolling Exits */
/* ! Lightspeed */
/* ! Specials */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
.amp {
  font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
  font-size: 125%;
  position: relative;
  font-style: italic;
}

.sep {
  display: inline-block;
  margin: 0 .3em;
}

::selection {
  background: #404956;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #404956;
  color: #fff;
  text-shadow: none;
}

img::selection {
  background: transparent;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
  text-shadow: none;
}

body {
  padding-top: 70px;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #404956;
  -webkit-text-size-adjust: 100%;
}

.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.grid-color {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(85, 128, 177, 0.15)), color-stop(6.77966%, rgba(85, 128, 177, 0.15)), color-stop(6.77966%, rgba(0, 0, 0, 0)), color-stop(8.47458%, rgba(0, 0, 0, 0)), color-stop(8.47458%, rgba(85, 128, 177, 0.15)), color-stop(15.25424%, rgba(85, 128, 177, 0.15)), color-stop(15.25424%, rgba(0, 0, 0, 0)), color-stop(16.94915%, rgba(0, 0, 0, 0)), color-stop(16.94915%, rgba(85, 128, 177, 0.15)), color-stop(23.72881%, rgba(85, 128, 177, 0.15)), color-stop(23.72881%, rgba(0, 0, 0, 0)), color-stop(25.42373%, rgba(0, 0, 0, 0)), color-stop(25.42373%, rgba(85, 128, 177, 0.15)), color-stop(32.20339%, rgba(85, 128, 177, 0.15)), color-stop(32.20339%, rgba(0, 0, 0, 0)), color-stop(33.89831%, rgba(0, 0, 0, 0)), color-stop(33.89831%, rgba(85, 128, 177, 0.15)), color-stop(40.67797%, rgba(85, 128, 177, 0.15)), color-stop(40.67797%, rgba(0, 0, 0, 0)), color-stop(42.37288%, rgba(0, 0, 0, 0)), color-stop(42.37288%, rgba(85, 128, 177, 0.15)), color-stop(49.15254%, rgba(85, 128, 177, 0.15)), color-stop(49.15254%, rgba(0, 0, 0, 0)), color-stop(50.84746%, rgba(0, 0, 0, 0)), color-stop(50.84746%, rgba(85, 128, 177, 0.15)), color-stop(57.62712%, rgba(85, 128, 177, 0.15)), color-stop(57.62712%, rgba(0, 0, 0, 0)), color-stop(59.32203%, rgba(0, 0, 0, 0)), color-stop(59.32203%, rgba(85, 128, 177, 0.15)), color-stop(66.10169%, rgba(85, 128, 177, 0.15)), color-stop(66.10169%, rgba(0, 0, 0, 0)), color-stop(67.79661%, rgba(0, 0, 0, 0)), color-stop(67.79661%, rgba(85, 128, 177, 0.15)), color-stop(74.57627%, rgba(85, 128, 177, 0.15)), color-stop(74.57627%, rgba(0, 0, 0, 0)), color-stop(76.27119%, rgba(0, 0, 0, 0)), color-stop(76.27119%, rgba(85, 128, 177, 0.15)), color-stop(83.05085%, rgba(85, 128, 177, 0.15)), color-stop(83.05085%, rgba(0, 0, 0, 0)), color-stop(84.74576%, rgba(0, 0, 0, 0)), color-stop(84.74576%, rgba(85, 128, 177, 0.15)), color-stop(91.52542%, rgba(85, 128, 177, 0.15)), color-stop(91.52542%, rgba(0, 0, 0, 0)), color-stop(93.22034%, rgba(0, 0, 0, 0)), color-stop(93.22034%, rgba(85, 128, 177, 0.15)), color-stop(100.0%, rgba(85, 128, 177, 0.15)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(85, 128, 177, 0.15) 0%, rgba(85, 128, 177, 0.15) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(85, 128, 177, 0.15) 8.47458%, rgba(85, 128, 177, 0.15) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(85, 128, 177, 0.15) 16.94915%, rgba(85, 128, 177, 0.15) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(85, 128, 177, 0.15) 25.42373%, rgba(85, 128, 177, 0.15) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(85, 128, 177, 0.15) 33.89831%, rgba(85, 128, 177, 0.15) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(85, 128, 177, 0.15) 42.37288%, rgba(85, 128, 177, 0.15) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(85, 128, 177, 0.15) 50.84746%, rgba(85, 128, 177, 0.15) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(85, 128, 177, 0.15) 59.32203%, rgba(85, 128, 177, 0.15) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(85, 128, 177, 0.15) 67.79661%, rgba(85, 128, 177, 0.15) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(85, 128, 177, 0.15) 76.27119%, rgba(85, 128, 177, 0.15) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(85, 128, 177, 0.15) 84.74576%, rgba(85, 128, 177, 0.15) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(85, 128, 177, 0.15) 93.22034%, rgba(85, 128, 177, 0.15) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(85, 128, 177, 0.15) 0%, rgba(85, 128, 177, 0.15) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(85, 128, 177, 0.15) 8.47458%, rgba(85, 128, 177, 0.15) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(85, 128, 177, 0.15) 16.94915%, rgba(85, 128, 177, 0.15) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(85, 128, 177, 0.15) 25.42373%, rgba(85, 128, 177, 0.15) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(85, 128, 177, 0.15) 33.89831%, rgba(85, 128, 177, 0.15) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(85, 128, 177, 0.15) 42.37288%, rgba(85, 128, 177, 0.15) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(85, 128, 177, 0.15) 50.84746%, rgba(85, 128, 177, 0.15) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(85, 128, 177, 0.15) 59.32203%, rgba(85, 128, 177, 0.15) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(85, 128, 177, 0.15) 67.79661%, rgba(85, 128, 177, 0.15) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(85, 128, 177, 0.15) 76.27119%, rgba(85, 128, 177, 0.15) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(85, 128, 177, 0.15) 84.74576%, rgba(85, 128, 177, 0.15) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(85, 128, 177, 0.15) 93.22034%, rgba(85, 128, 177, 0.15) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(85, 128, 177, 0.15) 0%, rgba(85, 128, 177, 0.15) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(85, 128, 177, 0.15) 8.47458%, rgba(85, 128, 177, 0.15) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(85, 128, 177, 0.15) 16.94915%, rgba(85, 128, 177, 0.15) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(85, 128, 177, 0.15) 25.42373%, rgba(85, 128, 177, 0.15) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(85, 128, 177, 0.15) 33.89831%, rgba(85, 128, 177, 0.15) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(85, 128, 177, 0.15) 42.37288%, rgba(85, 128, 177, 0.15) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(85, 128, 177, 0.15) 50.84746%, rgba(85, 128, 177, 0.15) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(85, 128, 177, 0.15) 59.32203%, rgba(85, 128, 177, 0.15) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(85, 128, 177, 0.15) 67.79661%, rgba(85, 128, 177, 0.15) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(85, 128, 177, 0.15) 76.27119%, rgba(85, 128, 177, 0.15) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(85, 128, 177, 0.15) 84.74576%, rgba(85, 128, 177, 0.15) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(85, 128, 177, 0.15) 93.22034%, rgba(85, 128, 177, 0.15) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(85, 128, 177, 0.15) 0%, rgba(85, 128, 177, 0.15) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(85, 128, 177, 0.15) 8.47458%, rgba(85, 128, 177, 0.15) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(85, 128, 177, 0.15) 16.94915%, rgba(85, 128, 177, 0.15) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(85, 128, 177, 0.15) 25.42373%, rgba(85, 128, 177, 0.15) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(85, 128, 177, 0.15) 33.89831%, rgba(85, 128, 177, 0.15) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(85, 128, 177, 0.15) 42.37288%, rgba(85, 128, 177, 0.15) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(85, 128, 177, 0.15) 50.84746%, rgba(85, 128, 177, 0.15) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(85, 128, 177, 0.15) 59.32203%, rgba(85, 128, 177, 0.15) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(85, 128, 177, 0.15) 67.79661%, rgba(85, 128, 177, 0.15) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(85, 128, 177, 0.15) 76.27119%, rgba(85, 128, 177, 0.15) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(85, 128, 177, 0.15) 84.74576%, rgba(85, 128, 177, 0.15) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(85, 128, 177, 0.15) 93.22034%, rgba(85, 128, 177, 0.15) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}

header, nav {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -moz-animation-fill-mode: both;
  -o-animation-duration: 0.5s;
  -o-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

header {
  font-family: "Open Sans";
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
header .logo {
  float: left;
  margin-right: 20px;
}
header h1 {
  line-height: 45px;
  height: 45px;
  font-weight: 600;
  font-size: 16px;
}

nav {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
nav ul {
  float: right;
  height: 45px;
}
nav ul li {
  display: inline;
  line-height: 45px;
  padding-left: 45px;
}
nav ul li a {
  color: #707880;
  text-decoration: none;
  font-weight: 300;
}
nav ul li a:hover {
  color: #2893d6;
  border-bottom: 2px solid #2893d6;
}
nav ul li:last-child a {
  background: #2893d6;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
nav ul li:last-child a:hover {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-bottom: none;
  background: #404956;
}

h2 {
  font-size: 2.25em;
  font-weight: 300;
  line-height: 56px;
  padding: 50px 0;
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding-left: 8.47458%;
  padding-right: 8.47458%;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 1s;
  -moz-animation-fill-mode: both;
  -o-animation-duration: 1s;
  -o-animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

h3 {
  font-weight: 300;
  text-align: center;
  font-size: 36px;
}

h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding-top: 20px;
  text-transform: uppercase;
}

h5 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0 10px;
  text-transform: uppercase;
}

hr {
  display: block;
  margin: 10px auto 30px;
  width: 100px;
  border: none;
  height: 3px;
  background: #404956;
}

/* =projects 
----------------------------------------------- */
#projects {
  padding-bottom: 30px;
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -moz-animation-fill-mode: both;
  -o-animation-duration: 0.5s;
  -o-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#projects ul {
  display: block;
}
#projects ul li {
  display: block;
  padding: 50px 0;
  border-bottom: 1px solid #e6e6e6;
}
#projects ul li figure {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
#projects ul li figure img {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: auto;
}
#projects ul li aside {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
#projects ul li aside h4 {
  text-align: left;
  text-transform: none;
  margin-bottom: 20px;
  padding: 0;
}
#projects ul li aside p {
  line-height: 1.5;
  margin-bottom: 20px;
}
#projects ul li aside .visit-work {
  display: inline-block;
  background: #2893d6;
  color: #FFF;
  text-decoration: none;
  padding: 0px 15px;
  line-height: 35px;
  height: 35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
}
#projects ul li aside .visit-work:hover {
  background: #404956;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-bottom: none;
}
#projects ul li:last-child {
  border-bottom: none;
}

/* =about 
----------------------------------------------- */
#about {
  background: #404956;
  color: #FFF;
}
#about article {
  padding: 50px 0;
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding-left: 8.47458%;
  padding-right: 8.47458%;
}
#about article .profileImg {
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  -ms-border-radius: 250px;
  -o-border-radius: 250px;
  border-radius: 250px;
  margin-bottom: 30px;
}
#about article hr {
  background: #FFF;
}
#about article p {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 20px;
}
#about article a {
  color: #2893d6;
  text-decoration: none;
}
#about article a:hover {
  border-bottom: 2px solid #2893d6;
}
#about article ul {
  list-style: inside;
  font-weight: 300;
  margin-bottom: 20px;
}
#about article ul li {
  line-height: 1.4;
  margin-bottom: 10px;
}
#about article ul li .show-grid {
  padding: 0 5px;
}
#about article ul li .show-grid:hover {
  background: #2893d6;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#about article ul li #spotify {
  color: #7ab800 !important;
}
#about article ul li .active {
  background: #2893d6;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#about article #tab-links {
  list-style: none;
  text-align: center;
  padding: 20px 0 30px;
}
#about article #tab-links li {
  display: inline;
  margin: 0;
  padding: 0;
}
#about article #tab-links li a {
  font-size: 22px;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  padding: 0px 5px;
  background: #313842;
  width: 150px;
  line-height: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}
#about article #tab-links li a:hover {
  background: #2893d6;
  border: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#about article #tab-links li:nth-child(1) a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  right: -1px;
}
#about article #tab-links li:nth-child(2) a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left: -1px;
}
#about article #tab-links li.active-tab a {
  background: #2893d6;
  color: #FFF;
}
#about article strong {
  font-weight: 600;
}

/* =CV 
----------------------------------------------- */
#cv {
  padding: 50px 0;
}
#cv strong {
  display: block;
  padding: 20px 0 5px;
  text-transform: uppercase;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
}
#cv p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.3;
}
#cv p span {
  display: inline-block;
  font-weight: 600;
  width: 15%;
}
#cv ul {
  list-style: disc;
}
#cv ul li {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1.4;
}
#cv ul li b {
  font-weight: 600;
}
#cv i {
  font-size: 12px;
  color: #aaa;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
}
#cv .no-side {
  padding-left: 15%;
}
#cv .with-side {
  float: right;
  width: 80%;
  padding-bottom: 10px;
}
#cv .with-side small {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}
#cv .with-side small span {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #2893d6;
}
#cv a {
  color: #2893d6;
  text-decoration: none;
}
#cv a:hover {
  color: #404956;
}
#cv time {
  width: 20%;
  float: left;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}
#cv #main {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
#cv aside {
  width: 40.67797%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* =footer 
----------------------------------------------- */
footer {
  background: #1D2327;
  padding: 40px 0;
  color: #FFF;
}
footer cite {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  line-height: 28px;
  font-weight: 300;
  font-size: 14px;
}
footer cite strong {
  font-weight: 600;
}
footer cite a {
  text-decoration: none;
  color: #495760;
  position: relative;
  font-size: 12px;
  font-weight: 600;
}
footer cite a img {
  display: block;
  width: 20px;
  position: absolute;
  top: 0;
  right: -28px;
  -webkit-transform: translateY(10px);
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
footer cite a:hover img {
  opacity: 1;
  -webkit-transform: translateY(0px);
}
footer .twitter {
  width: 15.25424%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
footer .twitter iframe {
  float: right;
}

@media (max-width: 40em) {
  body {
    padding: 20px 0;
  }

  .container {
    *zoom: 1;
    max-width: 59em;
    _width: 59em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  header {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  nav {
    float: none;
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    position: relative;
  }
  nav ul {
    display: block;
    float: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  nav ul li {
    padding-left: 0;
    display: block;
    width: 50%;
    float: left;
    text-align: center;
  }
  nav ul li a {
    display: block;
    background: #FFF;
    text-transform: uppercase;
    font-weight: normal;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
  }
  nav ul li a:hover {
    color: #2893d6;
    border-bottom: 1px solid #e6e6e6;
  }
  nav ul li:last-child {
    width: 100%;
  }
  nav ul li:last-child a {
    border-radius: 0;
    font-size: 20px;
  }
  nav ul li:last-child a:hover {
    color: #FFF;
    background: #404956;
  }
  nav ul li:nth-child(even) a {
    border-right: none;
  }

  h2 {
    font-size: 1.35em;
    line-height: 1.5;
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    padding-left: 0%;
  }

  #projects ul li figure {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    margin-bottom: 20px;
  }
  #projects ul li figure img {
    width: 100%;
    height: auto;
  }
  #projects ul li aside {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  #about article {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    padding-left: 0%;
  }
  #about article #tab-links li a {
    font-size: 18px;
    width: 130px;
  }

  #cv p span {
    width: auto;
  }
  #cv .no-side {
    padding: 10%;
  }
  #cv #main {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  #cv aside {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  footer cite {
    font-size: 12px;
  }
  footer cite span {
    display: none;
    visibility: hidden;
  }
  footer cite #scrollTop {
    display: none;
    visibility: hidden;
  }
}
